/***** Top menu *****/
 
.navbar {
    background: rgba(0, 0, 0, 0.5);
    transition: all .6s;
    backface-visibility: hidden;
    box-shadow: 0 2px 5px 1px rgba(51, 51, 51, 0.5);   
    
      
}
 
.navbar-dark .navbar-nav {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    align-items: center;
  
    
}

 
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    border: 0;
    align-items: center;
    margin-right:5px;
    
    
}
 
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}
 
.navbar-dark .navbar-nav .nav-link:focus {
    color: #fff;
    outline: 0;
}
 
.navbar-dark .navbar-toggler {
    border-color: rgba(0, 0, 0, 0.8);    
    justify-content: center;
    
    
}

.navbar-toggler {
   position: absolute;
   right: 15px;
   top:0;
   margin-top:15px; 
    
} 
.container {
    padding:20px;

}

.navbar-dark .navbar-toggler:focus {
    background: none;
    outline: 0;
    
}
 
.navbar-dark .navbar-toggler span {
    display: block;
    width: 30px;
    height: 2px;
    margin: 6px auto;
    background: #fff;
    transition: all .6s cubic-bezier(0.250, 0.100, 0.250, 1.000);
}
 
.navbar-dark .navbar-toggler:hover span,
.navbar-dark .navbar-toggler:focus span {
    background: #ccc;
}
 
/* rotate first span */
.navbar-dark .navbar-toggler[aria-expanded="true"] span:first-of-type {
    transform: rotate(45deg) translate(6px, 6px);
}
 
/* hide second span */
.navbar-dark .navbar-toggler[aria-expanded="true"] span:nth-of-type(2) {
    opacity: 0;
}
 
/* rotate third span */
.navbar-dark .navbar-toggler[aria-expanded="true"] span:last-of-type {
    transform: rotate(-45deg) translate(5px, -5px);
}
 
.navbar-dark .navbar-toggler[aria-expanded="false"] span {
    transform: none;
    opacity: 1;
    
}
 



    
    html, body {
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
        font-size: 19px;
        font-weight: 300;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x:visible;
        max-width: 100%;
        max-height:100vh;
       
        
    }
    body:after{
        content:"";
        position:fixed; /* stretch a fixed position to the whole screen */
        top:0;
        height:100vh; /* fix for mobile browser address bar appearing disappearing */
        left:0;
        right:0;
        z-index:-1; /* needed to keep in the background */
        background: url(images/truckhighway.jpg) center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
      
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    
 
    a:hover {
        color: #FFFF00;
        text-decoration: underline;
    }
    a:focus {
        text-decoration: none;
        outline: none;
    }
        
    #docklake{
        margin:0;
        padding:0;
        height: 100vh;        
        max-width:100%;      
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        text-align:center;        
        background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/truckhighway.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow-x: hidden;
    }
    
    
    

    
    
    #docklake h1 {        
        line-height: 1.2;
        -webkit-filter: drop-shadow;
      filter: drop-shadow;    
      text-shadow: 5px 5px rgb(24, 23, 23); 
        transform: scale(1) translateY(0px);
        color: rgb(255, 255, 255);
        margin-top: 100px;
        text-align: center; 
        font-size: 2rem;
        text-shadow: 2px 2px 8px #000000;
        padding-bottom: 20px;   

    }

        
        
        
        
        
       
        
        
        
      
    
  
    #docklake p {
        font-size: 20px;
        color: white;
        overflow-wrap: break-word;
        text-align: center;
       
    }
    #docklake .button{
        font-size: 19px;
        border: none;
        color:white ;
        padding: 15px 15px 15px 15px;
        border-radius: 15px;
        margin-top: 10px;
        background-color: black;
        transition: all 0.3s ease;
       
        
        
        
    }
    
    #docklake .button:hover {
        background: darkgrey;
        color: cornsilk;
    }
    
    

    
    .tm-text-white { color: #fff; }
    
    .tm-page-1-content { 
        padding-top: 1vh;
        align-items: center;
    }
    
   
        
    @media only screen 
   and (max-width : 280px) 
   and (max-height : 653px) {
    .parallax-window{
        width: 100%;
        height: 100%;
      }
      .container {
        max-width: 490px;
            width: 90%;


      }

   }
@media only screen 
and (max-width : 360px) 
and (max-height : 640px){
    .parallax-window{
        width: 100%;
        height: 100%;
      }
      .container {
        max-width: 490px;
        width: 90%;      
      
     
}




    footer {
        width: 100%;
        height: 100%;

    }
}
 
    
   
    
    
    /***** Footer *****/

.footer-top { 
    padding: 60px 0; 
    text-align: left;    
     color: rgba(0, 0, 0, 0.8); 
     background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/highway.jpg') no-repeat center center fixed; 
     background-size: cover;
     max-width: 100%;
     max-height: 100vh;
     
 }

    
    
.footer-top h3 { 
    padding-bottom: 10px;
    color: #fff; 
    
}


.footer-about img.logo-footer {
     max-width: 74px;
      margin-top: 0;
       margin-bottom: 18px;
     }

.footer-contact p {
     word-wrap: break-word; 
     color: #fff;
    }
.footer-contact i {
     padding-right: 10px; 
     font-size: 18px; 
     color: #fff; 
     color: rgba(255, 255, 255, 0.5); 
    }

.footer-links a { 
    color: #fff; 
    color: rgba(255, 255, 255, 0.8); 
    border: 0;
 }
.footer-links a:hover, .footer-links a:focus {
     color: #fff; }

.footer-bottom {
     padding: 15px 0 17px 0;
      background: rgb(167, 167, 167);
       text-align: left; 
       color: #aaa; }

.footer-social { 
    padding-top: 3px; 
    text-align: right; 
}
.footer-social a {
     margin-left: 20px; 
     color: #777;
      border: 0;
     }
.footer-social a:hover, .footer-social a:focus { 
    color: #7b7cd3;
     border: 0;
     }


.footer-copyright 
{ padding-top: 5px; 

}
.footer-copyright a { 
color: #fff;
border: 0; 
}
.footer-copyright a:hover, .footer-copyright a:focus {     
    color: #aaa; 
    border: 0;
 }

    /* Style the form - display items horizontally */
.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  
  /* Add some margins for each label */
  .form-inline label {
    margin: 5px 10px 5px 0;
  }
  
  /* Style the input fields */
  .form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  
  /* Style the submit button */
  .form-inline button {
    padding: 10px 20px;
    background-color: rgb(12, 160, 78);
    border: 1px solid #ddd;
    color: white;
    border-radius: 50px;
  }
  
  .form-inline button:hover {
    background-color: royalblue;
  }
  
  /* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
  @media (max-width: 800px) {
    .form-inline input {
      margin: 10px 0;
    }
  
    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
  }


/**********************
/***** Services *******
/*********************/
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section{
	padding: 60px 0;
}
section .section-title{
	text-align:center;
	color:#000000;
	margin-bottom:50px;
	text-transform:uppercase;
}
#what-we-do{
	background:white
}
#what-we-do .card{
	padding: 1rem!important;
	border: none;
	margin-bottom:1rem;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#what-we-do .card:hover{
	-webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	-moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
#what-we-do .card .card-block{
	padding-left: 50px;
    position: relative;
}
#what-we-do .card .card-block a{
	color: #007b5e !important;
	font-weight:700;
	text-decoration:none;
}
#what-we-do .card .card-block a i{
	display:none;
	
}
#what-we-do .card:hover .card-block a i{
	display:inline-block;
	font-weight:700;
	
}
#what-we-do .card .card-block:before{
	font-family: FontAwesome;
    position: absolute;
    font-size: 39px;
    color: #007b5e;
    left: 0;
	-webkit-transition: -webkit-transform .2s ease-in-out;
    transition:transform .2s ease-in-out;
}
#what-we-do .card .block-1:before{
    content: "\f0e7";
}
#what-we-do .card .block-2:before{
    content: "\f0eb";
}
#what-we-do .card .block-3:before{
    content: "\f00c";
}
#what-we-do .card .block-4:before{
    content: "\f209";
}
#what-we-do .card .block-5:before{
    content: "\f0a1";
}
#what-we-do .card .block-6:before{
    content: "\f218";
}
#what-we-do .card:hover .card-block:before{
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);	
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}





ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}



h2{
    text-align:center;
    padding: 20px;
  }
  /* Slider */
  
  .slick-slide {
      margin: 0px 20px;
  }
  
  .slick-slide img {
      width: 100%;
  }
  
  .slick-slider
  {
      position: relative;
      display: block;
      box-sizing: border-box;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
              user-select: none;
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -ms-touch-action: pan-y;
          touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list
  {
      position: relative;
      display: block;
      overflow: hidden;
      margin: 0;
      padding: 0;
  }
  .slick-list:focus
  {
      outline: none;
  }
  .slick-list.dragging
  {
      cursor: pointer;
      cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
      -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
           -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
  
  .slick-track
  {
      position: relative;
      top: 0;
      left: 0;
      display: block;
  }
  .slick-track:before,
  .slick-track:after
  {
      display: table;
      content: '';
  }
  .slick-track:after
  {
      clear: both;
  }
  .slick-loading .slick-track
  {
      visibility: hidden;
  }
  
  .slick-slide
  {
      display: none;
      float: left;
      height: 100%;
      min-height: 1px;
  }
  [dir='rtl'] .slick-slide
  {
      float: right;
  }
  .slick-slide img
  {
      display: block;
  }
  .slick-slide.slick-loading img
  {
      display: none;
  }
  .slick-slide.dragging img
  {
      pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
      display: block;
  }
  .slick-loading .slick-slide
  {
      visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
      display: block;
      height: auto;
      border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
      display: none;
  }



  .contactus {  
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/truckssitting.jpg') no-repeat center center fixed; 
    background-size: cover;
    max-width: 100%;
    max-height: 100vh;  
    
    }

  .contactus p{
      color:white
  }

  

  h5 {
      color: white;
  }

  .news {
      background-color: whitesmoke;
  }
